* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

fieldset {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

#wrapper {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  height: 100%;
}

#code-container {
  height: 100%;
  width: 60%;
}

#terminal {
  height: 100%;
  overflow-y: hidden;
  width: 40%;
}

#terminal > div {
  padding: 0.5rem;
}
